.login_relative{
    background-image: url("");
}
.login_absolute{
    top: 0;
    right: 0;
    opacity: .8;
}
@media (max-width: 769px) {
    html .login_relative{
        position: static !important;
    }
    html .login_absolute{
        position: static !important;
        width:98%;
        margin:auto;
    }
}
